
.app {

  header {
    height 40px;
    transform-style: preserve-3d;

    .title {
      display: inline-block;
      margin: 0 20px;
      font-size: 200%;
      color: rgb(25,45,72);
    }

    .quote {
      margin: 0 20px;
    }

    .layout-left {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      text-align: left ;
    }
    .layout-right {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      text-align: right;
    }
  }

}